@import "tailwindcss";

:root {
    --background: #933DA7;
    --foreground: #171717;
    --primary: #933DA7;
    --secondary: #F7F7F7;
    --terciary: #EFBBF5;
    --light-text: #F7F7F7;
    --dark-text: #171717;
}

body {
    background: var(--background);
    color: var(--light-text);
    font-family: Arial, Helvetica, sans-serif;
}

.text-black {
    color: var(--dark-text) !important;
}

.text-title {
    color: var(--light-text) !important;
}

.button-primary {
    background-color: var(--secondary);
    color: var(--primary) !important;
}

.button-secondary {
    background-color: var(--terciary);
    color: var(--primary) !important;
    --font-weight-bold: bold;
}

.bg-background {
    background-color: var(--secondary);
}

.bg-primary {
    background-color: var(--background);
}
.bg-secondary {
    background-color: var(--light-text);
}
.bg-primary-main {
    background-color: var(--background);
}
.bg-primary-main::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/assets/background_1.png');
    background-repeat: repeat;
    background-size: 100%;
    background-position: center;
    opacity: 0.05;
    z-index: 0;
    pointer-events: none;
}

.bg-primary > * {
    position: relative;
    z-index: 1;
}
/* Responsive */
@media (min-width: 768px) {
    .bg-primary {
        background-size: 50%;
        background-position: left;
    }
    .bg-primary::before {
        background-size: 50%;
        background-position: left;
    }
}
@media (min-width: 1024px) {
    .bg-primary {
        background-size: 33.3%;
    }
    .bg-primary::before {
        background-size: 33.3%;
    }
}


.shadow-dance-text {
    transition: all 0.5s;
    font-variation-settings: "wght" 300, "ital" 1;
    font-size: 3rem;
    text-align: center;
    color: var(--light-text);
    font-family: "Meta", sans-serif;
    animation: shadow-dance 3s forwards;
}

@keyframes shadow-dance {
    0% {
        text-shadow: 0 0 0 #07bccc,
        0 0 0 #e601c0,
        0 0 0 #e9019a,
        0 0 0 #f40468,
        0 0 0 #482896;
    }
    100% {
        text-shadow: 5px 5px 0 #07bccc,
        10px 10px 0 #e601c0,
        15px 15px 0 #e9019a,
        20px 20px 0 #f40468,
        25px 25px 10px #482896;
    }
}
